%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "./deps/dns/include"},
            {i, "../dns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {ref, "81eaef0"}}},
        {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "2.2.1"}}},
        {folsom, ".*", {git, "git://github.com/folsom-project/folsom.git", {tag, "0.8.5"}}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {ref, "d378f99"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {ref, "5acdc7e"}}},
        {dns, ".*", {git, "git://github.com/aetrion/dns_erlang.git", {ref, "27c84be"}}},
        {parse_xfrm_utils, ".*", {git, "git://github.com/sargun/parse_xfrm_utils.git", {ref, "409f727"}}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", {ref, "a112a2d"}}},
        {iso8601, ".*", {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.2"}}}
]}.

%% This is a rebar3-ism
{overrides, [
    {override, dns,
        [
            {plugins,[
                {provider_asn1, {git, "https://github.com/knusbaum/provider_asn1.git", {tag, "0.2.0"}}}
            ]},
            {provider_hooks, [
                {pre, [
                    {compile, {asn, compile}}
                ]},
                {post, [
                    {clean, {asn, clean}}
                ]}
            ]}
        ]
    }
]}.
